html {
  background: linear-gradient(to right, #CE1A1D, rgb(67,33,33));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
font-size: 50px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 20px;
}
p {
border: solid 4px black;
margin-right: 700px;
}
.Adjacent {
  margin-left: 700px;
}

html {
  background-color: wheat;
  background: linear-gradient(to right, #CE1A1D, rgb(67, 33, 33));
  font-family: Arial;
  font-size: 22px;
  color: #27B8E4;
  width: auto;
  height: auto;
}
#image img{
  border-radius: 5px;
  height: 2px;
  width: auto;
  margin-bottom: 22px;
  display: block;
}
